body {
  background: #fc7373;
}
.title {
  font-size: 18px;
  margin: 0;
}
kendo-badge-container {
  margin-right: 4px;
}
.k-icon {
  font-size: 18px;
}
.k-appbar .k-appbar-separator {
  background: #fc7373;
}
.actions .k-button {
  padding: 0;
}