
kendo-grid {
    border-radius: 10px;
}
.home-grid .k-toolbar {
    padding: 20px 15px 10px 15px;
}
.grid-button {
    padding: 8px 10px;
    border-radius: 8px;
    background-color: #f1f2f6;
    border: 1px solid #e3e7f2;
    color: #545e72;
}
.grid-button:hover{
    background-color: #dddee6;
}

.export-button {
    background-color: #e0434a;
    color: #fff;
}

.export-button:hover {
    background-color:  #ce474e;
}
.grid-title {
    color: #545e72;
    font-weight: bold;
    font-size: larger;
}

.grid-search-box {
    border-radius: 8px;
    padding: 2px 2px;
    width: 30%;
}

.home-grid {
    flex: 1;
    margin: 0px 20px 50px 0px;
    background-color: #ffffff;
}

.home-grid .k-grid-table {
    border-collapse: collapse;
}

.home-grid .k-grid tr,
.home-grid .k-grid .k-table-row,
.home-grid .k-grid .k-table-alt-row {
    background-color: #ffffff;
    border-bottom: 1.5px solid #e0e0e0;
    padding: 20px;
}

.home-grid .k-grid .k-table td,
.home-grid .k-grid-header .k-header,
.home-grid .k-grid-toolbar {
    border: none;
}

.home-grid .k-grid .k-table-alt-row {
    background-color: #ffffff ; 
}

.home-grid .k-grid .k-table td, 
.home-grid .k-grid .k-table th {
    padding: 15px 15px;
}

.home-grid .k-grid-content {
    max-height: 400px;
    overflow-y: auto;
}

.k-grid-content::-webkit-scrollbar {
    width: 4px; 
}

.k-grid-content::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 10px; 
}

.k-grid-content::-webkit-scrollbar-thumb {
    background: #b3b3b3; 
    border-radius: 10px; 
}

.k-grid-content::-webkit-scrollbar-thumb:hover {
    background: #999999; 
}

.k-grid tbody tr {
    transition: background-color 0.3s ease;
}
.k-grid tbody tr:hover {
    background-color: #c2c2c2;  
}

.k-grid-header {
    padding-right: 0 !important;
}

.home-grid .k-grid-header {
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.2); 
    z-index: 1;
}

.header-icon {
    margin-left: 8px; 
  }

  .cell-icon {
    margin-right: 4px;
    vertical-align: middle;
  }

  .grey-cell-text-cl {
    color: #545e72;
  }

  .bold-dark {
    font: bolder;
    color: black;
  }

  .text-green-500 {
    color: #2ca44d; 
    background-color: #dff1e4;
    border-radius: 5px;
  }
  .text-red-500 {
    color: #f52222; 
    background-color: #fae3e4;
    border-radius: 5px;
  }
  
  .k-pager {
    border-radius: 0 0 10px 10px;
    outline: none;
    &:focus, &:active{
      border-color: transparent;
    }
  }

  .grid-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
  }
  .footer-left,
  .footer-center,
  .footer-right {
    display: flex;
    align-items: center;
  }

  .footer-center span {
    margin: 0 5px;
    cursor: pointer;
    padding: 5px;
  }

  .page-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px; 
    height: 25px;
  }
  .footer-center .active {
    background: rgb(184, 184, 184);
    border-radius: 5px;
  }

  .footer-right button {
    margin-left: 10px;
  }

  .footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #5a5b6a;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.2); 
  }

  .footer-button:disabled {
    background-color: #e0e0e0; 
    color: #a0a0a0; 
    box-shadow: none; 
  }
  
  .footer-button:hover{
    background-color: #dddee6;
}

.filter-row input,
.filter-reset-button {
  padding: 5px;
  border-radius: 4px;
}

.filter-reset-button {
  background-color: #e0434a;
  color: white;
  border: none;
  cursor: pointer;
}

.grid-toolbar {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-row-container {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.filter-row {
  width: 100%;
  display: flex;
  gap: 8px;
  padding: 10px;
  background-color: #ffffff; 
  border-bottom: none; 
}

input[type="date"],
input[type="number"] {
  flex: 1; 
}

.filter-reset-button {
  background-color: #e63946; 
  color: white;
  border: none; 
  padding: 5px 10px; 
  width: 10%;
  cursor: pointer; 
}

.filter-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  border-radius: 8px;
  background-color: #ffffff;
  color: #545e72;
  border: 1px solid #ccc;
  min-width: 13%;
  height: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  
  kendo-datepicker {
    width: 100%;
    border: none;
    background: transparent;
    .k-icon, .k-i-calendar, .k-button {
      display: none !important;
    }
  }
}

.filter-button:hover {
  background-color: #f0f0f0;
  border-color: #aaa;
}

.filter-button, .filter-reset-button {
  flex: 1 1 auto; 
}
.button-icon-left {
  color: #545e72;
}

.button-icon-right {
  margin-left: auto;
  color: #545e72;
}

.k-popup {
  margin-top: 5px;
  border-radius: 10px;
}
