
.popup-card {
    padding: 16px;
    width: 320px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-family: Arial, sans-serif;
  
    h4 {
      margin: 0 0 12px;
      font-size: 16px;
      color: #333;
    }
  
    .range-inputs {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 12px;
  
      label {
        font-size: 12px;
        color: #666;
      }
  
      .min-max-label {
        display: flex;
        justify-content: space-between;
        gap: 10px;
      }
  
      .input-number {
        width: 60px;
        padding: 4px;
        border: 1px solid #ddd;
        border-radius: 4px;
      }
    }
  
    .range-slider {
      width: 100%;
      display: flex;
      margin-bottom: 12px;
  
      kendo-rangeslider {
        width: 100%;
      }
    }
  
  
    .popup-actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 12px;
    
      .dropdown-button {
        background-color: #ffffff;
        color: #545e72;
        border: 1px solid #545e72;
        border-radius: 4px;
        padding: 6px 12px;
        cursor: pointer;
        transition: background-color 0.3s;
    
        &:hover {
          background-color: #d6d6d6;
        }
      }
    
      .actions-button {
        display: flex;
        gap: 10px;
    
        .action-button {
          padding: 6px 12px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s;
    
          &.cancel {
            background-color: #f2f2f2;
            color: #545e72;
    
            &:hover {
              background-color: #ddd;
            }
          }
    
          &.apply {
            background-color: #e0434a;
            color: #fff;
    
            &:hover {
              background-color: #ce474e;
            }
          }
        }
      }
    }
    
  }
  