<div class="sidebar" [class.collapsed]="isCollapsed">

  <div>
    @if (isCollapsed) {
      <div class="logo-container">
        <img src="/logo-short.png" alt="Logo" class="logo" />
      </div>
    } @else {
      <div class="logo-container">
        <img src="/logo.png" alt="Logo" class="logo" />
      </div>
    }
    <button class="toggle-btn" (click)="collapse()">
      <ng-container *ngIf="isCollapsed; else expanded">
        <kendo-svgicon [icon]="rightarw"></kendo-svgicon>
      </ng-container>
      <ng-template #expanded>
        <kendo-svgicon [icon]="leftarw"></kendo-svgicon>
      </ng-template>
    </button>

    <ul class="tab-list">
      <li class="group-title">{{ isCollapsed ? '' : 'General' }}</li>
      <li 
        *ngFor="let tab of generalTabs"
        [class.active]="(selectedTab$ | async) === tab"
        (click)="tabChanged(tab)">
        <div class="selectBar" *ngIf="(selectedTab$ | async) === tab"></div>
        <kendo-svgicon [icon]="getIcon(tab)"></kendo-svgicon>
        {{ isCollapsed ? '' : tab }}
      </li>

      <li class="group-title">{{ isCollapsed ? '' : 'Analytics' }}</li>
      <li 
        *ngFor="let tab of analyticsTabs"
        [class.active]="(selectedTab$ | async) === tab"
        (click)="tabChanged(tab)">
        <div class="selectBar" *ngIf="(selectedTab$ | async) === tab"></div>
        <kendo-svgicon [icon]="getIcon(tab)"></kendo-svgicon>
        {{ isCollapsed ? '' : tab }}
      </li>

      <li class="group-title">{{ isCollapsed ? '' : 'Management' }}</li>
      <li 
        *ngFor="let tab of managementTabs"
        [class.active]="(selectedTab$ | async) === tab && tab!== 'Assets'"
        [ngClass]="{'no-hover': assetsDropdownOpen}"
        (click)="tabChanged(tab)">
        <div class="selectBar" *ngIf="(selectedTab$ | async) === tab"></div>
        <kendo-svgicon [icon]="getIcon(tab)"></kendo-svgicon>
        {{ isCollapsed ? '' : tab }}

        <ng-container *ngIf="tab === 'Assets' && !isCollapsed">
          <button class='drop-icon' (click)="toggleAssetsDropdown($event)">
            <kendo-svgicon [icon]="dropdownIcon"></kendo-svgicon>
          </button>
      
          <ul *ngIf="assetsDropdownOpen" class="dropdown-list">
            <li 
              *ngFor="let asset of assetsList"
              [class.active]="(selectedTab$ | async) === asset"
              (click)="tabChanged(asset)"
              class="sub-tab"
            >
              <div class="selectBar" *ngIf="(selectedTab$ | async) === asset"></div>
              {{ isCollapsed ? '' : asset }}
            </li>
          </ul>
        </ng-container>
      </li>
    </ul>
  </div>

    <div class="profile-section" *ngIf="!isCollapsed">
      <div class="profile-icon">
      </div>
      <div class="user-info">
        <span>
          <kendo-svgicon [icon]="userIcon"></kendo-svgicon>
          Admin user
        </span>
        <button kendoButton look="flat" (click)="logOut()">Logout</button>
      </div>
    </div>

    <div class="profile-section" *ngIf="isCollapsed">
      <div class="user-info">
        <span>
          <kendo-svgicon [icon]="userIcon"></kendo-svgicon>
        </span>
      </div>
    </div>

  </div>
  