.sidebar {
    width: 200px;
    background-color: #ffffff;
    height: 100% ;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s ease;
    position: relative;
    box-shadow: 1px 0 2px rgb(145, 136, 136);
  }

  .sidebar.collapsed {
    width: 40px; 
  }

  .toggle-btn {
    position: absolute;
    right: -10px; 
    top: 30px; 
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    padding: 0%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease;
  }
  
  .toggle-btn kendo-svgicon {
    width: 20px;
    height: 20px;
    color: rgb(78, 73, 73);
  }
  
  .tab-list {
    list-style: none;
    padding: 0;
  }
  
  .tab-list li {
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid transparent; 
    transition: border-color 0.5s ease;
    transition: background-color 0.3s ease;
    position: relative;
  }
  
  .tab-list li.active {
    border-color: #fc7373;
    font-weight: bold;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.158);
  }
  
  .tab-list li:hover {
    background-color: #e0e0e0;
  }

  .selectBar {
    position: absolute;
    left: 0; 
    top: 50%;
    transform: translateY(-50%); 
    width: 3px; 
    height: 1.3em; 
    background-color: #fc7373;
  }
  
  .profile-section {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .profile-icon {
    font-size: 24px;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
  }
  
  button[kendoButton] {
    margin-top: 5px;
  }
  
  .group-title {
    padding: 10px;
    color: rgb(170, 170, 170);
    font-weight: bold;
    cursor: default;
    pointer-events: none; 
  }

  .logo-container {
    display: flex;
    height: 10%;
    justify-content: center;  
    margin-bottom: 20px;  
  }
  
  .logo {
    max-width: 80%;  
    border-radius: 8px;  
  }