<div class="sidebar">
    <ul class="tab-list">
      <li 
        *ngFor="let tab of tabs"
        [class.active]="(selectedTab$ | async ) ? (selectedTab$ | async ) === tab : false"
        (click)="tabChanged(tab)">
        <kendo-svgicon [icon]="getIcon(tab)"></kendo-svgicon>
        {{ tab }}
      </li>
    </ul>
  
    <div class="profile-section">
      <div class="profile-icon">
      </div>
      <div class="user-info">
        <span>
          <kendo-svgicon [icon]="userIcon"></kendo-svgicon>
          Admin user
        </span>
        <button kendoButton look="flat">Logout</button>
      </div>
    </div>
  </div>
  