.dashboard-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color:#fafafa; 
  }
  
  
  .dashboard-body {
    display: flex;
    flex-direction: column;
    flex: 1; 
    padding-left: 20px;
  }
  
  app-sidebar {
    width: 230px;
  }
  
  .content-area {
    flex: 1; 
    padding: 5px 5px;
    overflow-y: auto; 
  }
  
  