@import '@progress/kendo-theme-default/dist/all.css';

@font-face {
    font-family: 'myInter';
    src: url('../public/Inter-VariableFont_opsz\,wght.ttf');
  }
body {
  padding: 0;
  font-family: 'myInter' , serif;
  font-size: small;
}
