<div class="group-bar-chart" *ngIf="groupedData && groupedData.length && barSeries && barSeries.length">
    <kendo-chart>
      <kendo-chart-title text="Sales by Product Group (2018-2021)"></kendo-chart-title>
      
      <kendo-chart-category-axis>
        <kendo-chart-category-axis-item
          field="year"
          [categories]="years"
          text="Year">
        </kendo-chart-category-axis-item>
      </kendo-chart-category-axis>
      
    
      <kendo-chart-series>
        <kendo-chart-series-item
          *ngFor="let series of barSeries"
          type="column"
          [data]="getDataForSeries(series.name)"
          field="value"
          categoryField="year"
          [stack]="false"
          [color]="series.color"
          [name]="series.name">
        </kendo-chart-series-item>
      </kendo-chart-series>
    
      <kendo-chart-value-axis>
      <kendo-chart-value-axis-item text="Sales (Units)">
      </kendo-chart-value-axis-item>
    </kendo-chart-value-axis>
    
      <kendo-chart-legend position="top"></kendo-chart-legend>
      <kendo-chart-tooltip format="{0}" [visible]="true"></kendo-chart-tooltip>
    </kendo-chart>
  </div>
  